<div class="row text-box">
  <div class="col-12 widget-title-area mb-5" *ngIf="widget.show_widget_title">
      <h2 class="text-center">{{ widget.Name }}</h2>
  </div>
  <div class="col-12" [ngClass]="{'col-md-6': (widget.rich_text_box_image_url || widget.rich_text_box_video_url)}">
      <h5 *ngIf="widget.rich_text_title">{{ widget.rich_text_title }}</h5>
      <div [innerHTML]="widget.rich_text | trustHtml"></div>
      <div class="my-3 text-center" *ngIf="widget.button_text">

        <a [href]="widget.ButtonURL" class="btn" *ngIf="isExternal(widget.ButtonURL)">{{ widget.ButtonText }}</a>
        <a [routerLink]="widget.ButtonURL" class="btn" *ngIf="!isExternal(widget.ButtonURL)">{{ widget.ButtonText }}</a>
      </div>
  </div>
  <div class="col-12" [ngClass]="{'col-md-6': (widget.RichTextBoxImageURL || widget.RichTextBoxVideoURL)}" *ngIf="widget.rich_text_box_image_url || widget.rich_text_box_video_url">
      <img *ngIf="widget.RichTextBoxImageURL" [src]="widget.RichTextBoxImageURL | src" class="img-fluid">
      <div class="embed-responsive embed-responsive-21by9" *ngIf="widget.RichTextBoxVideoURL">
        <iframe class="embed-responsive-item" [src]="widget.RichTextBoxVideoURL | trustUrl"></iframe>
      </div>
  </div>
</div>
