<div class="row text-box" *ngIf="data">
  <div class="col-12 widget-title-area mb-5" *ngIf="widget.show_widget_title">
      <h2 class="text-center">{{ widget.name }}</h2>
  </div>
  <div class="col-12" [ngClass]="{'col-md-8': hasImage}">
      <h3 *ngIf="data?.title">{{ data?.title }}</h3>
      <h5 class="text-muted" *ngIf="data?.sub_title">{{ data?.sub_title }}</h5>
      <div [innerHTML]="data.text | withBreak | trustHtml"></div>
  </div>
  <div class="col-12" [ngClass]="{'col-md-4': hasImage}" *ngIf="hasImage">
      <img [src]="data.image | src" class="img-fluid">
  </div>
</div>
