<div [ngClass]="wrapperClass(widget)" *ngFor="let widget of widgets(); trackBy: trackByFn">
  <ng-container *ngIf="widget.DataType === dataType.EntityData">
    <widget-card [widget]="widget" *ngIf="widget.Type === type.CardList"></widget-card>
    <widget-carousel [widget]="widget" *ngIf="widget.Type === type.Carousel"></widget-carousel>
    <widget-list [widget]="widget" *ngIf="widget.Type === type.List"></widget-list>
    <widget-dynamic-detail-view [widget]="widget" *ngIf="widget.Type === type.DynamicDataView"></widget-dynamic-detail-view>
  </ng-container>
  <widget-custom-html  [ngClass]="wrapperClass(widget)" [widget]="widget" *ngIf="widget.DataType === dataType.Html"></widget-custom-html>
  <widget-rich-text-viewer [ngClass]="wrapperClass(widget)" [widget]="widget" *ngIf="widget.DataType === dataType.RichText"></widget-rich-text-viewer>
  <widget-menu [ngClass]="wrapperClass(widget)" [widget]="widget" *ngIf="widget.DataType === dataType.Menu"></widget-menu>
</div>
