<div [ngClass]="{'container-fluid': widget.widget_type === 'carousel', 'container': widget.widget_type !== 'carousel'}" *ngFor="let widget of widgets('body'); trackBy: trackByFn"> 
    <widget-banner [widget]="widget" *ngIf="widget.widget_type === 'banner'"></widget-banner>
    <widget-card [widget]="widget" *ngIf="widget.widget_type === 'card'"></widget-card>
    <widget-carousel [widget]="widget" *ngIf="widget.widget_type === 'carousel'"></widget-carousel>
    <widget-form [widget]="widget" *ngIf="widget.widget_type === 'form'"></widget-form>
    <widget-list [widget]="widget" *ngIf="widget.widget_type === 'list'"></widget-list>
    <widget-menu [widget]="widget" *ngIf="widget.widget_type === 'menu'"></widget-menu>
    <widget-text-box [widget]="widget" *ngIf="widget.widget_type === 'text-box'"></widget-text-box>
</div>