<div [ngClass]="wrapperClass(widget)" *ngFor="let widget of widgets; trackBy: trackByFn">
  <ng-container *ngIf="widget.data_type === dataType.EntityData">
    <widget-card [widget]="widget" *ngIf="widget.type === widgetType.CardList"></widget-card>
    <widget-carousel [widget]="widget" *ngIf="widget.type === widgetType.Carousel"></widget-carousel>
    <widget-list [widget]="widget" *ngIf="widget.type === widgetType.List"></widget-list>
    <widget-dynamic-detail-view [widget]="widget" *ngIf="widget.type === widgetType.DynamicDataView"></widget-dynamic-detail-view>
  </ng-container>
  <widget-rich-text-viewer [ngClass]="wrapperClass(widget)" [widget]="widget" *ngIf="widget.data_type === dataType.RichText"></widget-rich-text-viewer>
  <widget-menu [ngClass]="wrapperClass(widget)" [widget]="widget" *ngIf="widget.data_type === dataType.Menu"></widget-menu>
</div>
