<div class="bg-info">
  <footer class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="widget-title-area">
          <h2>Contact Us</h2>
        </div>
        <p>2201 Cooperative Way, Suite 600<br/>

          Herndon, VA 20171<br/>

          Phone: <a href="tel:7035013443">703 501 3443</a></p>
      </div>
      <div class="col-md-4">
        <div class="widget-title-area">
          <h2>More</h2>
        </div>
        <ul class="navbar-nav">
          <li class="nav-item" *ngFor="let item of menuItems | async" routerLinkActive="active" [routerLinkActiveOptions]="{'exact': true}">
              <a *ngIf="isExternal(item)" [href]="item.URL">{{ item.Name }}</a>
              <a *ngIf="!isExternal(item)" [routerLink]="item.URL" class="nav-link">{{ item.Name }}</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="navbar-nav mx-auto flex-row justify-content-center social-nav">
          <li class="nav-item">
            <a href="https://www.linkedin.com/company/merp-systems-inc-/" class="nav-link">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center text-white py-3">
        &copy; MERP It Services
      </div>
  </div>
  </footer>
</div>
