<div class="bg-info">
    <footer class="container">
        <ul class="navbar-nav mx-auto flex-row justify-content-center">
            <li class="nav-item mx-2" *ngFor="let item of menuItems | async">
              <app-menu-link [item]="item" wClass="nav-link text-white"></app-menu-link>
            </li>
        </ul>
    </footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center text-white" [innerHTML]="footerText | async | trustHtml"></div>
        </div>
    </div>
</div>
