<div class="header bg-light main-header">
  <div class="container">
    <div class="col-md-12">
      <div class="navbar navbar-expand-md p-0">
        <a class="my-0 mr-md-auto font-weight-normal" [routerLink]="defaultPageUrl | async">
          <img class="logo" src="../../../assets/images/logo-dark.png">
      </a>
      <button class="navbar-toggler" type="button" aria-controls="navbarContent" [attr.aria-expanded]="!collapsed" aria-label="Toggle navigation" (click)="collapsed = !collapsed">
        <span class="fas fa-bars text-dark"></span>
      </button>

      <div class="navbar-collapse" [class.collapse]="collapsed" id="navbarContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" *ngFor="let item of menuItems | async" routerLinkActive="active" [routerLinkActiveOptions]="{'exact': true}">
                <a *ngIf="isExternal(item)" [href]="item.URL">{{ item.Name }}</a>
                <a *ngIf="!isExternal(item)" [routerLink]="item.URL" class="nav-link">{{ item.Name }}</a>
            </li>
        </ul>
      </div>
      </div>
    </div>
  </div>
</div>
