@import '../../../variable';


.card{
  border: none;
  box-shadow: rgba($color: $color_1, $alpha: .2) 0 1px 3px 0 ;
    &.card-with-thumb,
    &.card-with-icon
    {
        flex-direction: row;
        .card-img-icon{
          text-align: center;
            height: 100%;
            img{
                max-width: 100%;
            }
        }
    }
    &.card-with-image{
        height: 100%;
        .card-img-icon{
          text-align: center;
            width: 100%;
            img{
                max-width: 100%;
            }
        }
    }

}
.card-image-icon-container{
    text-align: center;
    img{
        max-width: 90%;
    }
}
