<ul class="list-unstyled">
  <li class="position-relative" *ngIf="widget?.show_widget_title">
      <h3 class="mb-2">{{ widget.name }}</h3>
  </li>
  <li class="mb-2" *ngFor="let item of data">
    <div class="d-flex flex-row">
      <span *ngIf="item.list_type === 'title-with-subtitle-image'" class="media-area mr-3">
        <img [src]="item.image | src">
      </span>
      <div class="media-body">
        <h5 class="mt-0 mb-1">{{ item.title }}</h5>
        <p class="mb-1" *ngIf="item.list_type === 'title-with-subtitle' || item.list_type === 'title-with-subtitle-image'">
            {{ item.sub_title | ellipse:40 }}
        </p>
        <a class="font-weight-bold" [routerLink]="url" [queryParams]="queryParam(item)" *ngIf="widget.button_text">{{ widget.button_text }}</a>
      </div>
    </div>
  </li>
  <li *ngIf="widget.enable_pagination && hasMore">
      <widget-btn btnClass="btn btn-sm btn-block font-weight-bold" (click)="loadMore()" label="Load More"></widget-btn>
  </li>
  <li *ngIf="!widget.enable_pagination && listPage">
    <widget-btn btnClass="btn btn-sm btn-block font-weight-bold" [goto]="listPage?.page_url" label="All"></widget-btn>
</li>
</ul>
