<widget-inner-page-title [page]="page"></widget-inner-page-title>
<div class="container inner-page-container">
    <div class="row">
        <div class="col-md-8 col-12">
          <div [ngClass]="wrapperClass(widget)" *ngFor="let widget of widgets(locations.Body); trackBy: trackByFn">
            <ng-container *ngIf="widget.DataType === dataType.EntityData">
              <widget-card [widget]="widget" *ngIf="widget.Type === type.CardList"></widget-card>
              <widget-carousel [widget]="widget" *ngIf="widget.Type === type.Carousel"></widget-carousel>
              <widget-list [widget]="widget" *ngIf="widget.Type === type.List"></widget-list>
              <widget-dynamic-detail-view [widget]="widget" *ngIf="widget.Type === type.DynamicDataView"></widget-dynamic-detail-view>
            </ng-container>
            <widget-dynamic-detail-view [widget]="widget" *ngIf="widget.DataType === dataType.RichText"></widget-dynamic-detail-view>
            <widget-menu [widget]="widget" *ngIf="widget.DataType === dataType.Menu"></widget-menu>
          </div>

        </div>
        <div class="col-md-4 col-12">
          <div [ngClass]="wrapperClass(widget)" *ngFor="let widget of widgets(locations.Sidebar); trackBy: trackByFn">
            <ng-container *ngIf="widget.DataType === dataType.EntityData">
              <widget-card [widget]="widget" *ngIf="widget.Type === type.CardList"></widget-card>
              <widget-carousel [widget]="widget" *ngIf="widget.Type === type.Carousel"></widget-carousel>
              <widget-list [widget]="widget" *ngIf="widget.Type === type.List"></widget-list>
              <widget-dynamic-detail-view [widget]="widget" *ngIf="widget.Type === type.DynamicDataView"></widget-dynamic-detail-view>
            </ng-container>
            <widget-dynamic-detail-view [widget]="widget" *ngIf="widget.DataType === dataType.RichText"></widget-dynamic-detail-view>
            <widget-menu [widget]="widget" *ngIf="widget.DataType === dataType.Menu"></widget-menu>
          </div>

        </div>
    </div>
</div>
