<div class="position-relative w-100" *ngIf="status === 'loading'">
    <div class="spinner-area">
        <span class="spinner round"></span>
    </div>
</div>
<div class="row" [ngClass]="type" *ngIf="status === 'loaded'">
    <div class="col-12 widget-title-area" *ngIf="!config.hide_widget_title">
        <h2 class="text-center">{{ widget.title }}</h2>
        <p class="text-center text-muted">{{ widget.text }}</p>
    </div>
    <div class="col-md-6">
        <form #form="ngForm" (ngSubmit)="submit(form)" class="form">
            <h3>{{ form?.title }}</h3>
            <div class="form-group" *ngFor="let field of formFields; trackBy:trackByFn">
                <label>{{ field.name }}</label>
                <ng-container [ngSwitch]="field.type">
                    <textarea class="form-control" [required]="field.required" *ngSwitchCase="'textarea'" [name]="field.name" [(ngModel)]="model[name]"></textarea>
                    <input class="form-control" [required]="field.required" *ngSwitchDefault [type]="field.type" [name]="field.name" [(ngModel)]="model[field.name]" />
                </ng-container>
            </div>
            <div class="form-group">
                <widget-btn [busy]="submitting" [disabled]="form.invalid" type="submit" label="Submit"></widget-btn>
            </div>
        </form>
    </div>
    <div class="col-md-6"  *ngIf="config.form_type === 'form-with-address'">
        <div class="card" *ngFor="let address of addresses; trackBy:trackByAddress">
            <div class="card-header">
                {{ address.title }}
            </div>
            <div class="card-body">
                <ul class="list-unstyled">
                    <li>
                        <i class="fas fa-map-marker-alt"></i> <span class="d-inline-block text-info pl-3">{{ address.address }}</span>
                    </li>
                    <li>
                        <i class="fas fa-phone-alt"></i> <a href="tel:{{address.phone}}" class="btn btn-sm btn-link">{{ address.phone }}</a>
                    </li>
                    <li>
                        <i class="fas fa-envelope"></i> <a href="mailto:{{address.email}}" class="btn btn-sm btn-link">{{ address.email }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>